@font-face{
    font-family: 'IvyMode';
    src: url(../fonts/IvyMode-Light.woff2) format('woff2');
    font-weight: 300;
}

@font-face{
    font-family: 'IvyMode';
    src: url(../fonts/IvyMode-Regular.woff2) format('woff2');
    font-weight: 400;
}

@font-face{
    font-family: 'IvyMode';
    src: url(../fonts/IvyMode-SemiBold.woff2) format('woff2');
    font-weight: 600;
}

@font-face{
    font-family: 'font';
    src: url(../fonts/zYX9KVElMYYaJe8bpLHnCwDKjQ76AIFsdP3pBms.woff2) format('woff2');
    font-weight: 500;
}

@font-face{
    font-family: 'font';
    src: url(../fonts/zYX9KVElMYYaJe8bpLHnCwDKjWr7AIFsdP3pBms.woff2) format('woff2');
    font-weight: 400;
}

@font-face{
    font-family: 'font';
    src: url(../fonts/zYX9KVElMYYaJe8bpLHnCwDKjXr8AIFsdP3pBms.woff2) format('woff2');
    font-weight: 300;
}

@font-face{
    font-family: 'font';
    src: url(../fonts/zYX9KVElMYYaJe8bpLHnCwDKjXr8AIVsdP3pBmtF8A.woff2) format('woff2');
    font-weight: 700;
}


/* @font-face{
    font-family: 'a';
    src: url(../fonts/zYX9KVElMYYaJe8bpLHnCwDKjQ76AIFsdP3pBms.woff2) format('woff2');
    /* font-weight: ; */


/* @font-face{
    font-family: 'a';
    src: url(../fonts/zYX9KVElMYYaJe8bpLHnCwDKjXr8AIFsdP3pBms.woff2) format('woff2');
    font-weight: ;
}

@font-face{
    font-family: 'a';
    src: url(../fonts/zYX9KVElMYYaJe8bpLHnCwDKjXr8AIFsdP3pBms.woff2) format('woff2');
    font-weight: ;
} */