.footer{
    position: relative;
    width: 100%;
    background: #1c1c1c;
    color: #b2aea8;
    overflow: hidden;

    .footer-inner{
        padding-bottom: 50px;

        @include mobile{
            padding-bottom: 0;
        }
        .group-text{
            text-align: center;
            margin-bottom: 60px;

            .more{
                color: #eae9e4;
                padding-top: 75px;
                font-size: 18px;
                line-height: 1;
                margin-bottom: 40px;

                @include mobile{
                    font-size: 14px;
                }
            }

            .contact-area{
                display: flex;
                flex-direction: column;
                font-size: 65px;
                gap: 20px;
                font-weight: 500;

                @include tablet{
                    font-size: 50px;
                    gap: 10px;
                }

                @include mobile{
                    font-size: 40px;

                }
                a{
                    &:hover{
                        color: #eae9e4;
                    }
                }
            }
        }

        .group-nav{
            max-width: 1180px;
            padding: 0 20px;
            margin: 0 auto;
            font-family: 'font';

            @include tablet{
                max-width: 680px;
                margin: 0 auto;
            }

            .inner{
                display: flex;

                @include tablet{
                    position: relative;
                    display: flex;
                    flex-direction: column-reverse;
                    gap: 40px;
                }

                .inner-wrap{
                    display: flex;
                    flex-direction: column;
                    gap: 70px;
                    flex: 1;

                    @include tablet{
                        gap: 30px;
                    }

                    @include mobile{
                        gap: 10px;
                        margin-left: 30px;
                        margin-bottom: 50px;
                    }

                    .logo{
                        svg{
                            @include mobile{
                                width: 50px;
                                height: 40px;
                            }
                        }
                    }

                    .copy{
                        font-size: 9px;
                    }
                }

                .flex-wrap{
                    display: flex;
                    gap: 30px;

                    @include mobile{
                        gap: 0;
                    }

                .nav-area{
                    margin-right: auto;
                    flex: 1;

                    @include tablet{
                        margin: 0 auto;
                    }

                    .nav-list{
                        display: flex;
                        gap: 80px;
                        font-weight: 500;
                        line-height: 35px;
                        font-size: 16px;

                        @include tablet{
                            justify-content: space-between;
                        }

                        @include mobile{
                            flex-direction: column;
                            gap: 20px;
                            text-align: center;
                        }
                    }

                    .nav-item{
                        font-weight: 300;
                        line-height: 35px;
                        font-size: 14px;

                        .title{
                            font-weight: 600;
                            font-size: 18px;

                            @include mobile{
                                font-size: 16px;
                            }
                        }

                        .sub-item{
                            font-size: 14px;

                            @include mobile{
                                font-size: 14px;
                                line-height: 22px;
                            }
                        }
                    }
                }

                .button-area{
                    .btn-top{
                        z-index: 20;
            
                        @include tablet{
                           position: absolute;
                           bottom: 20px;
                           right: 0;
                        }
            
                        @include mobile{
                            position: absolute;
                            bottom: 50px;
                            right: 20px;
                        }

                        svg{
                            @include mobile{
                                width: 40px;
                                height: 60px;
                            }
                        }
            
                        &:hover svg{
                            transform: scale(1.2) rotate(360deg);
                            transition: 1s;
                        }
                    }
                }
                }
            }
        }

    }

}