.container{
    position: relative;
    z-index: 1;
}

.sc-memory{
    width: 100%;
    height: 100%;
    background: #eae9e4;
    padding-top: 170px;
    overflow: hidden;

    .text-area{
        max-width: 1280px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        .title{
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 44px;
            line-height: 62px;
            font-weight: 30;
            text-align: center;

            @include mobile{
                font-size: 30px;
                line-height: 40px;
            }
        }
        .sub-title{
            font-family: 'font';
            text-align: center;
            font-size: 20px;
            margin-top: 20px;
            line-height: 30px;


            @include mobile{
                font-size: 16px;
                line-height: 26px;
            }

            .bold{
                font-weight: 700;
            }
        }
    }

    .group-gallery{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    position: relative;
    }

    .gallery-area{
        width: 100%;
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr 1fr 2fr 1fr 1fr;

        @include tablet{
            gap: 7px;
        }

        img{
            border-radius: 15px;
            width: 100%;
        }

        .left{

            &.outer{
                width: 100%;

              
                @include mobile{
                    display: none;
                }
            }

            &.inner{
                display: flex;
                flex-direction: column;
                gap: 20px;
                width: 100%;
                margin-top: -80px;

                @include mobile{
                    display: none;
                }
            }
        }

        .center{
            display: flex;
         img{
            position: absolute;
            top: 50%;
            left: 50%;
            width: 32vw;
            height: 50vh;
            object-fit: cover;

            @include mobile{
                width: 80vw;
                height: 50vh;
            }
         }

         .gallery-title{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: #eae9e4;
            font-size: 72px;
            opacity: 0;
            visibility: hidden;

            @include mobile{
                font-size: 50px;
            }
         }
        }

        .right{
            &.inner{
            display: flex;
            flex-direction: column;
            gap: 40px;
            width: 100%;
            margin-top: -80px;

                @include mobile{
                    display: none;
                }
            }       
            
            &.outer{
               width: 100%;

               @include mobile{
                display: none;
                }
            }
        }
    }
}

.sc-testimonials{
    position: relative;
    width: 100%;
    height: 100%;
    background: #1c1c1c;
    padding-bottom: 300px;
    overflow: hidden;

    .inner{
        width: 1320px;
        margin: 0 auto;

    .title{
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 30px;
        line-height: 45px;
        font-weight: 500;
        text-align: center;
        color: #fff;
        z-index: 5;

        @include tablet{
            font-size: 24px;
        }

        @include mobile{
            font-size: 32px;
        }
    }

    .testimonials-list{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 10px;
        margin: 0 auto;
        align-items: center;

        @include mobile{
            display: flex;
            gap: 30px;
            flex-direction: column;
        }

        .testimonials-item{
            position: relative;

            &:nth-child(1){
                top: -20px;
                transform: rotate(-7deg);

                @include tablet{
                    left: -80px;
                }

                @include mobile{
                    margin-right: auto;
                    transform: rotate(-3deg);
                }
            }

            &:nth-child(2){
                top: -35px;
                transform: rotate(5deg);

                @include tablet{
                    left: -180px;
                }

                @include mobile{
                    margin-top: 10px;
                    margin-right: 500px;
                    transform: rotate(4deg);
                }
            }

            &:nth-child(3){
                top: -15px;
                transform: rotate(-4deg);

                @include tablet{
                    left: -280px;
                }

                @include mobile{
                    margin-right: 330px;
                    transform: rotate(-4deg);
                }
            }

            &:nth-child(4){
                margin-top: 10px;
                transform: rotate(4deg);

                @include tablet{
                    left: -80px;
                }

                @include mobile{
                    margin-right: 730px;
                    transform: rotate(4deg);
                }
            }

            &:nth-child(5){
                top: 50px;
                transform: rotate(-6deg);

                @include tablet{
                    left: -180px;
                }

                @include mobile{
                   top: 10px;
                    margin-right: 530px;
                    transform: rotate(-5deg);
                }
            }

            &:nth-child(6){
                margin-top: 60px;
                transform: rotate(7deg);

                @include tablet{
                    left: -280px;
                }

                @include mobile{
                    top: -15px;
                     margin-right: 330px;
                     transform: rotate(5deg);
                 }
            }
        
        .img-box{
            pointer-events: none;
            max-width: 275px;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            border-radius: 15px;
            filter: grayscale(1) brightness(0.7);

            @include tablet{
                max-width: 200px;
            }

            @include mobile{
                max-width: 230px;
            }

            img{
                border-radius: 20px;
            }
        }

        .quote{
            position: absolute;
            color: #eae9e4;
            width: 110%;
            bottom: 30%;
            font-size: 18px;
            line-height: 1.44;  
            text-align: center;
            opacity: 0;
            visibility: hidden;
            transition: opacity 1s cubic-bezier(0.215, 0.61, 0.355, 1),transform 1s cubic-bezier(0.215, 0.61, 0.355, 1);
            transform: translateY(-32px);

            @include tablet{
                font-size: 18px;
            }

            @include mobile{
                font-size: 21px;
            }
        }

        &:hover{
            .quote{
                transform: translateY(0);
                opacity: 1;
                visibility: visible;
            }

            .img-box{
                filter: none;
                transition: filter 0.5s;
            }
        }
        }
      }

    }
}

.sc-homemovie{
    background: #1c1c1c;
    height: 100vh;
    overflow: hidden;

    @include tablet{
        padding: 20px;
    }

    .inner{
        padding-top: 80px;
        max-width: 1283px;
        margin: 0 auto;
        display: flex;

        @include tablet{
            gap: 10px;
        }
    }

    .text-area{
        flex: 1;
        color: #eae9e4;

        .homemovie_title{
            font-size: 115px;
            font-weight: 500;
            line-height: 121px;
            margin-bottom: 2.5rem;

            @include tablet{
                font-size: 95px;
                line-height: 100px;
            }
        }

        .char{
            transition: transform .5s;
        }



        .desc{
            font-family: 'font';
            font-size: 16px;
            margin-bottom: 2.5rem;
            line-height: 26px;

            @include tablet{
                font-size: 14px;
            }
            .bold{
                font-weight: 700;
            }
        }

        .link-info{
            display: flex;
            align-items: center;
            font-size: 16px;
            margin-bottom: 1rem;
            font-family: 'font';
            margin-bottom: 25px;

            @include tablet{
                font-size: 14px;
            }

            svg{
                margin-left: 0.75rem; 
                transition: 0.3s
            }

            &:hover svg{
                transform: translateX(30%);
            }
        }

        .partner{
            margin-top: 40px;
            display: flex;
            align-items: center;
            color: #eae9e4;
            font-size: 13px;
            font-family: 'font';

            img{
                margin-left: 1rem;
                width: 185px;
                height: 42px;
            }
        }
    }

    .reel-area{
        position: relative;
        display: flex;
        flex: 1;
        gap: 20px;

        @include tablet{
            gap: 10px;
        }

        @include mobile{
            display: none;
        }

        .reel-list{
            display: flex;
            flex-direction: column;
            gap: 5px;

            &::after{
                content:'';
                display: block;
                width: 100%;
                height: 100%;
                position: absolute;
                right: 0;
                top: 0;
                background: rgba(0, 0, 0, 0.4)
            }

            .reel-item{
                margin-bottom: 20px;

            
            img{
                width: 100%;
                height: 375px;
                border-radius: 15px;
            }

            .right{
                position: absolute;
                right: 80px;
                bottom: 50%;
                overflow: hidden;
            }
            }
        }
    }
}

.sc-text{
    padding: 200px 0;
    background: #1c1c1c;
    font-size: 10vw;
    white-space: nowrap;
    color: #fff;
    font-weight: 300;
    overflow: hidden;

    @include mobile{
        padding-top: 100px;
    }

    .txt{
        display: flex;
    }
}

.sc-cinema{
    position: relative;
    width: 100%;
    height: 100vh;
    background: url(../images/cinema.png) center no-repeat;
    background-size: 100% auto; 
    background-color: #1c1c1c;
    overflow: hidden;

    .text-area{
        font-family: 'font';
        position: absolute;
        bottom: -250px;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 414px;
        margin: 0 auto;
        color: #fff;
        text-align: center;

        .title{
            display: block;
            margin-bottom: 1.5rem;
            font-size: 20px;
            line-height: 26px;
            font-weight: 600;

            @include mobile{
                font-size: 18px;
                line-height: 24px;
            }
        }

        .desc{
            font-size: 16px;
            line-height: 25px;
            margin-bottom: 1.5rem;
            font-weight: 300;

            @include mobile{
                font-size: 14px;
                line-height: 18px;
            }
        }
    }
}

.sc-gran_film{
    width: 100%;
    background: #1c1c1c;
    color: #eae9e4;
    overflow: hidden;
    padding: 10px;

    .inner{
        padding: 240px 0;
        max-width: 1200px;
        margin: 0 auto;
        display: flex;

        @include tablet{
            gap: 20px;
        }

        @include mobile{
            flex-direction: column;
            gap: 20px;
        }

        .img-area{
            flex: 1;
            margin-left: -20%;
            img{
            width: 1400%;
            height: auto;
            margin-top: 40px;
            }
        }

        .text-area{
            flex: 1;
            font-size: 16px;
            max-width: 660px;
            font-weight: 500;
            margin-left: 90px;

            @include tablet{
                margin-left: 20px;
            }
            .text-wrap{
                width: 100%;
                .gran_title{
                    font-size: 120px;
                    line-height: 121px;
                    margin-bottom: 30px;

                    @include tablet{
                        font-size: 90px;
                        line-height: 90px;
                        margin-bottom: 20px;
                    }

                    @include mobile{
                        font-size: 75px;
                        line-height: 75px;
                        margin-bottom: 30px;
                    }

                    .char{
                        transition: transform .5s;
                    }
            
                }

                .subtitle{
                    font-family: 'font';
                    font-weight: 500;
                    line-height: 26px;  
                    font-size: 18px;

                    @include tablet{
                        width: 100%;
                        line-height: 20px;
                        font-size: 16px;
                    }
                }

                .desc{
                    font-family: 'font';
                    font-weight: 300;
                    margin-top: 2rem;
                    font-size: 16px;
                    line-height: 26px;

                    @include tablet{
                        font-size: 14px;
                        line-height: 18px;
                    }
                }
            }

            .logos-wrap{
                display: flex;
                flex-wrap: wrap;
                gap: 40px;
                align-items: center;
                margin-top: 30px;

                @include tablet{
                    gap: 10px;
                }

                .ucla{
                    width: 132px;
                    height: 68px;

                    @include tablet{
                        width: 112px;
                        height: 48px;
                    }
                }

                .arcadia{
                    width: 125px;
                    height: 41px;

                    @include tablet{
                        width: 105px;
                        height: 21px;
                    }
                }

                .sodre{
                    width: 183px;
                    height: 43px;

                    @include tablet{
                        width: 163px;
                        height: 23px;
                    }
                }

                .ucu{
                    width: 127px;
                    height: 65px;

                    @include tablet{
                        width: 107px;
                        height: 45px;
                    }
                }

                .cinemateca{
                    width: 148px;
                    height: 50px;

                    @include tablet{
                        width: 128px;
                        height: 30px;
                    }
                }
            }
        }
    }
}

.bg-wrap{
    position: relative;

    .bg-left{
        position: absolute;
        top: 0;
        left: 30px;
        width: 70px;
        height: 100%;
        background: url(../images/bg.png);
        background-repeat: repeat-y;
        background-size: contain;
        background-position: top center;
        z-index: 1;
    }
    
    
    .bg-right{
        position: absolute;
        top: 0px;
        right: 30px;
        width: 70px;
        height: 100%;
        background: url(../images/bg.png);
        background-repeat: repeat-y;
        background-size: contain;
        background-position: top center;
        z-index: 1;
    }
}

    .sc-about{
        position: relative;
        width: 100%;
        height: 100%;
        background: #eae9e4;

        @include mobile{
           padding-bottom: 30px;
        }

        .inner{
            position: relative;
            max-width: 1280px;
            margin: 0 auto;

            .group-text{
                max-width: 1018px;
                width: 85%;
                position: absolute;
                padding-top: 300px;
                left: 50%;
                transform: translateX(-50%);
                color: #b2aea8;
                z-index: 5;
                font-weight: 500;
                font-size: 118px;
                line-height: 154px;
                text-align: center;
                mix-blend-mode: screen;

                @include tablet{
                    font-size: 100px;
                    line-height: 130px;
                }

                @include mobile{
                    font-size: 70px;
                    line-height: 90px;
                }
            }

            .group-img{
                display: flex;
                gap: 150px;
                justify-content: center;

                @include tablet{
                    gap: 100px;
                }

                @include mobile{
                    gap: 15px;
                }

                .slide{
                    &.left{
                        margin-top: 360px;
                        display: flex;
                        flex-direction: column;
                        gap: 300px;

                        @include tablet{
                            gap: 320px;
                        }

                        @include mobile{
                            gap: 300px;
                        }
                        .img1{
                        width: 330px;
                        height: 450px;
                        border-radius: 15px;

                            @include tablet{
                                width: 260px;
                                height: 370px;
                            }

                            @include mobile{
                                width: 190px;
                                height: 300px;
                            }
                        }

                        .img2{
                            width: 362px;
                            height: 313px;
                            border-radius: 15px;

                            @include tablet{
                                width: 292px;
                                height: 243px;
                            }

                            @include mobile{
                                width: 222px;
                                height: 173px;
                            }
                        }

                        .img3{
                            width: 340px;
                            height: 400px;
                            border-radius: 15px;

                            @include tablet{
                                width: 270px;
                                height: 330px;
                            }

                            @include mobile{
                                width: 200px;
                                height: 260px;
                            }
                        }
                    }

                    &.right{
                        margin-top: 700px;
                        display: flex;
                        flex-direction: column;
                        gap: 400px;

                        @include tablet{
                            gap: 320px;
                        }

                        @include mobile{
                            gap: 200px;
                        }
                        .img4{
                            width: 271px;
                            height: 307px;
                            border-radius: 15px;

                            @include tablet{
                                width: 241px;
                                height: 267px;
                            }

                            @include mobile{
                                width: 211px;
                                height: 237px;
                            }
                        }

                        .img5{
                            width: 354px;
                            height: 320px;
                            border-radius: 15px;

                            @include tablet{
                                width: 284px;
                                height: 250px;
                            }

                            @include mobile{
                                width: 214px;
                                height: 180px;
                            }
                        }
                    }
                }
            }   
        }
    }

    .sc-aboutus{
        position: relative;
        width: 100%;
        height: 100%;
        background: #eae9e4;
        padding-bottom: 300px;
        overflow: hidden;

        @include mobile{
            padding-bottom: 100px;
        }

        .inner{
            padding: 200px 50px;
            max-width: 1280px;
            margin: 0 auto;

            @include mobile{
                padding: 100px 20px;
            }
    
            .text-area{
                margin-bottom: 45px;

                .aboutus_title{
                    font-size: 104px;
                    line-height: 1;
                    font-weight: 400;
                    margin-bottom: 1.5rem;

                    @include mobile{
                        font-size: 70px;
                    }
                }

                .desc{
                    width: 540px;
                    font-family: 'font';
                    line-height: 25px;
                    font-size: 16px;
                    margin-bottom: 1.5rem;

                    @include mobile{
                        width: 100%;
                        font-size: 14px;
                    }

                    .bold{
                        font-weight: 700;
                        font-size: 17px;

                        @include mobile{
                            font-size: 14px;
                        }
                    }
                }
            }

            .team-area{
                .title{
                    font-size: 13px;
                    font-weight: 300;
                    font-family: 'font';
                    margin-bottom: 20px;
                }

                .team-list{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    line-height: 30px;

                    .team-item{
                        width: 100%;
                        display: flex;
                        margin-top: 10px;

                        @include tablet{
                            display: flex;
                            flex-direction: column;
                        }

                        @include mobile{
                            display: flex;
                            flex-direction: column;
                        }
                    }

                    strong{
                        font-size: 20px;
                        font-weight: 400;

                        @include mobile{
                            font-size: 16px;
                        }

                        &::after{
                            content:'/';
                            width: 25px;
                            height: 25px;
                            display: inline-block;
                            margin-left: 10px;
                        }
                    }

                    .desc{
                        width: 100%;
                        font-size: 18px;
                        font-family: 'font';
                        font-weight: 300;


                        @include mobile{
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }

    .sc-focus{
        position: relative;
        background: #eae9e4;
        padding-top: 200px;

        .video-area{
            video{
            position: absolute;
            top: 160px;
            left: 50%;
            transform: translate(-50%,-50%);
            width: 100vw;  
            height: 100vh;
            object-fit: cover;
            z-index: 2;
            }


        .title{
            position: absolute;
            top: 230px;
            left: 50%;
            transform: translateX( -50%);
            font-size: 100px;
            text-align: center;
            color: #b2aea8;
            z-index: 3;

            @include mobile{
                font-size: 80px;
            }
        }

        }
        .inner{
            position: relative;
            max-width: 1080px;
            height: 800px;
            margin: 0 auto;


            .text-area{
                max-width: 260px;
                font-size: 16px;
                line-height: 26px;

                @include mobile{
                    font-size: 14px;
                }
                &.left{
                    position: absolute;
                    bottom: 20px;
                    left: 50px;

                    @include mobile{
                        position: absolute;
                        bottom: 300px;
                    }
                   
                }

                &.right{
                    position: absolute;
                    right: 0;
                    bottom: -20px;
                    right: 50px;

                    @include mobile{
                        position: absolute;
                        bottom: -500px;
                    }
                }
            }
        }

    }
    

    .sc-service{
        padding-top: 200px;
        width: 100%;
        height: auto;
        background: #eae9e4;
        font-family: "font";
        overflow: hidden;

        .inner{
            display: flex;

            @include tablet{
            }

            @include mobile{
                display: flex;
                flex-direction: column;
            }

            .title-area{
                .service-title{
                    font-family: 'IvyMode';
                    font-size: 104px;
                    font-weight: 500;
                    margin-bottom: 30px;
                    margin-left: 140px;

                    @include tablet{
                        font-size: 80px;
                        margin-left: 90px;
                    }

                    @include mobile{
                        font-size: 60px;
                        margin-left: 25px;
                    }
                }

                .subtitle{
                    font-size: 16px;
                    line-height: 26px;
                    width: 610px;
                    margin-left: 140px;

                    @include tablet{
                        font-size: 14px;
                        width: 360px;
                        margin-left: 90px;
                    }

                    @include mobile{
                        font-size: 14px;
                        margin-left: 25px;
                    }

                }
            }

            .text-area{
                width: 514px;
                margin-left: 140px;

                @include tablet{
                    margin-left: 30px;
                }

                @include mobile{
                    margin-left: 40px;
                }

                .inner-wrap{
                    margin: 30px 0 80px;

                    .title{
                        display: block;
                        font-size: 18px;
                        margin: 10px 0;
                        font-weight: bold;

                        @include tablet{
                            font-size: 16px;
                        }
                    }

                    .desc{
                        font-size: 16px;
                        line-height: 26px;

                        @include tablet{
                            width: 360px;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }

    .sc-colabo{
        width: 100%;
        height: 100%;
        background: #eae9e4;
        padding-top: 100px;
        padding-bottom: 100px;

        .inner{
            max-width: 680px;
            margin: 0 auto;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;

            @include mobile{
                padding: 20px;
            }

            .title{
                font-size: 71px;
                line-height: 82px;
                font-weight: 400;

                @include tablet{
                    font-size: 60px;
                    line-height: 60px;
                }

                @include mobile{
                    font-size: 45px;
                    line-height: 45px;
                }
            }

            .desc{
                font-family: 'font';
                margin: 2rem auto;
                font-size: 16px;
                line-height: 26px;

                .bold{
                    font-weight: 700;
                }

                @include mobile{
                    font-size: 16px;
                    line-height: 18px;
                }
            }

            .link-contact{
                display: flex;
                align-items: center;
                gap: 5px;
                background: #1c1c1c;
                color: #fff;
                padding: 15px 20px;
                font-size: 16px;
                border-radius: 999px;

                @include mobile{
                    font-size: 14px;
                }

                svg{
                    transition: 0.3s;
                    margin-left: 5px;
                }

                &:hover svg{
                    transform: translateX(5px);
                }

            }
        }
    }
